*{
    padding: 0;
    margin: 0;
}
table{
    width: 100%;
}
th{
    background-color: rgb(215, 150, 93);
    color:white;
}
th,td{
    width: 400px;
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
}