@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
*{
    padding: 0;
    margin: 0;
    font-family: Poppins;
}
table{
    width: 100%;
}
th{
    background-color: #DCB795;
    color:white;
}
th,td{
    width: 400px;
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
}